.drink-container {
  display: flex;
  flex-wrap: wrap;
  // width: calc(100% / 7);
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 10px;
  /* Add margin to separate items */
}

.DrinkMixer-container {
  margin: 40px;
  padding-top: 40px;

  .user-choice {
    background-color: rgb(235, 235, 235);
    padding-bottom: 30px;
  }

  .available-ingredients {
    background-color: rgb(235, 235, 235);
    padding-bottom: 30px;
  }
}

h2 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.DrinkMixer-container h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
}