@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.bg_primary-color {
	background-color: #FFFFFF;
}

.primary-color {
	background-color: #FFFFFF;
}

.bg_secondary-color {
	background-color: #293241;
}

.secondary-color {
	color: #ffffff;
}

.custom-button.btn {
	background-color: #293241;
	color: #FFF;
	border: none;
	transition: opacity 0.3s ease-in-out;
}

.custom-button.btn:hover {
	color: #FFF !important;
	border: none;
	opacity: 0.5;
}

.button-text {
	opacity: 1;
}

.custom-button:hover .button-text {
  opacity: 1;
}

.hero {
	width: 100vw;
	height: 50vh;
}

.hero img {
	object-fit: cover;
	object-position: top;
	height: 100%;
	width: 100%;
}

.overlay {
	height: 100%;
	width: 100%;
	opacity: 0.4;
}


// Homepage image
.homepage-image-container {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 80vh;
	background-position: center;
	background-image: url('/images/homepage.jpg');
	background-size: cover;
}

.homepage-image-text {
	padding-top: 100px;
}


// .homepage-image-container img {
// 	object-fit: cover;
// 	width: 100%;
// 	height: 100%;
// }

.home-link {
	text-decoration: none;
	color: white;
}

.home-link:hover {
	color: inherit;
}

.drinks-container {
	margin-top: 50px;
	margin-bottom: 50px;
	// margin-right: 10px;
	// margin-left: 10px;
	// background-color: lightgrey;
}

.home-cards {
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 20px;
}

.home-cards h2 {
	margin-bottom: 20px;
	padding-top: 20px;
}

.drink-card-img {
	height: 100%;
	width: 100%;
}

//Popular Drinks
.drinks-container {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
  }


/* Drink Mixer */
.mixer-1 {
	background-color: aquamarine;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.mixer-2 {
	background-color: bisque;
}

.mixer-3 {
	background-color: beige;
}

/* Drink List */
.drink-list-img {
	height: 20%;
	width: 20%;
}